{% extends 'base.html' %} {% block content %}
<h2>Applications</h2>
{% if applications|length == 0 %}
<p class="text-center text-muted">
  This is a job applications management system to Create, Read, Update, and
  Delete applications. Add or Access applications. You can also update and
  delete applications.
</p>

<p class="text-center text-muted">No Applications</p>

{% else %}
<p class="text-center text-muted">
  Total Applications: {{ applications|length }}
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Position</th>
      <th>Link</th>
      <th>Salary</th>
      <th>Date Applied</th>
      <th>Manage</th>
    </tr>
  </thead>
  <tbody>
    {% for app in applications %}
    <tr>
      <td>{{ app.id }}</td>
      <td>{{ app.name }}</td>
      <td>{{ app.position }}</td>
      <td>
        <a href="{{ app.link }}" target="_blank" rel="noopener noreferrer">
          {{ app.link }}
        </a>
      </td>
      <td>{{ app.salary }}</td>
      <td>{{ app.date }}</td>
      <td>
        <a
          href="{{ url_for('update_application', application_id=app.id) }}"
          class="btn btn-primary btn-sm"
          >Update</a
        >
        <a
          href="{{ url_for('delete_application', application_id=app.id) }}"
          class="btn btn-danger btn-sm"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<a href="{{ url_for('add_application') }}" class="btn btn-success mt-3">
  Add New Application
</a>
{% endblock %}
